$background-color: #444;
$body-font-size: 18px;
$body-line-height: 1.6;
$header-line-height: 1.2;
$body-max-width: 650px;
$vertical-margin: 40px;
$horizontal-padding: 10px;
$quote-padding: 15px;



body {
  background-color: $background-color;
  font-size: $body-font-size;
  line-height: $body-line-height;
  margin: $vertical-margin auto;
  max-width: $body-max-width;
  padding: 0 $horizontal-padding;
  }

h1,
h2,
h3 {
  $header-line-height: 1.2;
}
